{% extends 'front-end/base.html' %}
{% block title %}
Change Password
{% endblock %}
{% block content %}
<div class="container-fluid my-3">
    <div class="row text-center my-3">
        {% for message in messages %}
        <div class="col-lg-6 col-md-6 mx-auto">
            {% if message.extra_tags == 'warning-user' %}
                <div class="badge bg-warning py-4 w-100">
                    {{message}}
                </div>
            {% elif message.extra_tags == 'error' %}
                <div class="badge bg-danger py-4 w-100">
                    {{message}}
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div class="row my-1 text-center">
        <p>
            <span class="h5">Enter your email. We will send a code to your email.</span>
        </p>
    </div>
    <div class="row">
        <div class="col-lg-12 mx-auto px-3">
            <form id="id-send-pass-change-code-form" class="form-group" action="" method="POST">
            {% csrf_token %}
                <input class="form-control my-2" type="text" name="email">
                <div id="id-send-pass-change-code-btn-div" class="my-2 text-center">
                    <button class="btn btn-dark form-control" onclick="processBtn()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function processBtn(){
        $('#id-send-pass-change-code-btn-div').html('<span class="fst-italic text-muted">Processing...</span>')
        $('#id-send-pass-change-code-form').submit();
    }
</script>
{% endblock %}