{% extends 'front-end/base.html' %}
{% block content %}
<div class="container-fluid my-3">
    <div class="row text-center my-3">
        {% for message in messages %}
            <div class="col-lg-6 col-md-6 mx-auto">
                {% if message.extra_tags == "warning-empty-password" %}
                    <div class="badge bg-warning py-4 w-100">
                        {{message}}
                    </div>
                {% elif message.extra_tags == "warning-curr-password" %}
                    <div class="badge bg-warning py-4 w-100">
                        {{message}}
                    </div>
                {% elif message.extra_tags == "warning-password-mismatch" %}
                    <div class="badge bg-warning py-4 w-100">
                        {{message}}
                    </div>
                {% elif message.extra_tags == "success-updated" %}
                    <div class="badge bg-success py-4 w-100">
                        {{message}}
                    </div>
                {% elif message.extra_tags == "failed" %}
                    <div class="badge bg-danger py-4 w-100">
                        {{message}}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="row my-1 text-center">
        <p>
            <span class="h5">Update password.</span>
        </p>
    </div>
    <div class="row">
        <div class="col-lg-6 mx-auto px-3">
            <form id="id-update-password-form" class="form-group" action="{% url 'update-password' %}" method="POST">
                {% csrf_token %}
                <input class="form-control my-2" name="current_password" type="password" placeholder="Enter current password">
                <input class="form-control my-2" name="new_password" type="password" placeholder="Enter new password">
                <input class="form-control my-2" name="retype_password" type="password" placeholder="Retype password">
                <div id="id-update-password-btn-div" class="my-2 text-center">
                    <button class="btn btn-dark form-control" onclick="processBtn();">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function processBtn(){
        $('#id-update-password-btn-div').html('<span class="fst-italic text-muted">Processing...</span>');
        $('#id-update-password-form').submit();
    }
</script>
{% endblock %}