<div class="modal" id="delModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <p class="text-center fw-bold fs-5" id="id-dialog-text"></p>
        </div>
        <div class="modal-footer">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 text-center my-1">
                <button id="id-dialog-close" type="button" class="form-control btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
              <div id="id-main-button-div" class="col-lg-6 text-center my-1">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>