<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <span id="id-error-msg" class="badge bg-danger"></span>
                    </div>
                  <div class="text-center">
                    <span class="h5">Sign Up</span>
                  </div>
                  <div class="py-2">
                    <form id="id-signup-form" class="form-group" action="" method="POST">
                        {% csrf_token %}
                        {{sign_up_form}}
                        <!-- <input class="form-control my-2" type="text" placeholder="Please enter your email">
                        <input class="form-control my-2" type="password" placeholder="Please enter your password">
                        <input class="form-control my-2" type="password" placeholder="Please retype your password"> -->
                        <div id="id-signup-btn-div" class="my-2 text-center">
                          <button class="form-control my-2 btn btn-dark">Sign Up</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <span>Already signed up?</span><a class="fw-bold text-dark" href="javascript:void(0)">Log In</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>